#bloom-calculator{
    padding:1rem;
}

#bloom-calculator #inputs, #bloom-calculator #outputs{
    display: flex;
    flex-wrap: wrap;
}

#bloom-calculator .form-group{
    width: 50%;
    padding: 0rem 1rem 1rem 0rem;
    box-sizing: border-box;
}

#bloom-calculator input[type="text"], #bloom-calculator input[type="number"], #bloom-calculator select, #bloom-calculator input[type="date"], #bloom-calculator input[type="time"],  #bloom-calculator input[type="range"]{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border: solid 1px;
}

#bloom-calculator button{
    padding: 0.5rem;
    border-radius: 1rem;
    border: solid 1px;
    cursor: pointer;
}